@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%; /* light silver */
    --foreground: 0 0% 20%; /* dark charcoal */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 199 100% 63.1%; /* neon blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 20%; /* dark charcoal */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 199 100% 63.1%;
    --chart-1: 199 100% 63.1%;
    --chart-2: 199 80% 50%;
    --chart-3: 199 70% 40%;
    --chart-4: 199 60% 30%;
    --chart-5: 199 50% 20%;
    --radius: 0.8rem;

    --sidebar-background: 240 5% 16%;
    --sidebar-foreground: 0 0% 94%;
    --sidebar-primary: 199 100% 63.1%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 240 5% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 22%;
    --sidebar-ring: 199 100% 63.1%;
  }

  .dark {
    --background: 240 5% 12%;
    --foreground: 0 0% 94.1%;
    --card: 240 5% 16%;
    --card-foreground: 0 0% 94.1%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 94.1%;
    --primary: 199 100% 63.1%;
    --primary-foreground: 0 0% 10%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 94.1%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 22%;
    --input: 240 4% 22%;
    --ring: 199 100% 63.1%;
    --chart-1: 199 100% 63.1%;
    --chart-2: 199 80% 50%;
    --chart-3: 199 70% 40%;
    --chart-4: 199 60% 30%;
    --chart-5: 199 50% 20%;

    --sidebar-background: 240 5% 12%;
    --sidebar-foreground: 0 0% 94%;
    --sidebar-primary: 199 100% 63.1%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 240 5% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 5% 18%;
    --sidebar-ring: 199 100% 63.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at top left, hsl(var(--secondary)), hsl(var(--background)));
  }
}
